{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>QNest - Login</title>
    <link
      rel="icon"
      href="{% static 'images/logo.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="home-container">
      <h1 class="home-logo">QNest</h1>
      <h2 class="home-subtitle">Question Generator</h2>

      {% if messages %} {% for message in messages %}
      <div class="home-error-message">{{ message }}</div>
      {% endfor %} {% endif %}

      <form method="post">
        {% csrf_token %}
        <div class="home-form-group username">
          <input
            type="text"
            name="username"
            class="home-input"
            placeholder="Username"
            required
          />
        </div>
        <div class="home-form-group password">
          <input
            type="password"
            name="password"
            class="home-input"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit" class="home-button">Login</button>
      </form>

      <p class="home-register-link">
        Don't have an account?
        <a href="{% url 'register' %}">Create New Account</a>
      </p>
    </div>
  </body>
</html>
