{% extends 'base.html' %}
{% block title %}Questions{% endblock %}

{% block content %}
<div class="mt-5">
    <h4>Your Generated PDFs</h4>
    {% if user_pdfs %}
        <ul class="list-group">
            {% for pdf in user_pdfs %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ pdf.template.template_name }} - {{ pdf.created_at|date:"Y-m-d H:i" }}
                    <a href="{{ pdf.pdf_file.url }}" class="btn btn-primary btn-sm" target="_blank">View</a>
                    <a href="{% url 'download_generated_pdf' pdf.id %}" class="btn btn-success btn-sm">Download</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No PDFs generated yet.</p>
    {% endif %}
</div>


{% endblock %}